section#contact
    .contact-wrap.container
        h2 Контакты
        p Массаж в Киеве. Массажный салон Jiva работает с 10.00 до 22.00 без выходных.
        p Более детальная информация и консультации по телефону:
        p.phone 068 239 31 36
    .map-wrap.row.justify-content-center
            .col-4
                .map-block
                    .map-block-head
                        p ул. Крещатик 13
                    iframe(src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.601979965805!2d30.52119021594392!3d50.44851399538519!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce51b625b711%3A0xd5b6456e6de74d8b!2z0YPQuy4g0JrRgNC10YnQsNGC0LjQuiwgMTMsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1549363813236" width = "100%" height = "100%" frameborder = "0" style = "border:0")
            .col-4
                .map-block
                    .map-block-head
                        p ул. Бассейная 2а
                    iframe(src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.9508367298736!2d30.52082231594384!3d50.44201639585331!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ceff7e64fe81%3A0x73c1b1d66135b5a4!2z0YPQuy4g0JHQsNGB0YHQtdC50L3QsNGPLCAxLzLQkCwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1549364300560" width = "100%" height = "100%" frameborder = "0" style = "border:0")
            .col-4
                .map-block
                    .map-block-head
                        p ул. Прорезная, 12
                    iframe(src = "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.6114942841214!2d30.5159709159438!3d50.44833679539787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce5744375525%3A0x8031983c40a97bce!2z0LLRg9C70LjRhtGPINCf0YDQvtGA0ZbQt9C90LAsIDEyLCDQmtC40ZfQsiwgMDIwMDA!5e0!3m2!1sru!2sua!4v1549364681283" width = "100%" height = "100%" frameborder = "0" style = "border:0")
