footer
    .footer-menu
        .wrap-menu
            .footer-menu-link
                a(href="#header") Главная
            .footer-menu-link
                a(href="#types") Виды массажа
            .footer-menu-link
                a(href="#specialists") Массажисты
            .footer-menu-link
                a(href="#price") Цены
            .footer-menu-link
                a(href="#contact") Контакты
        hr.container
        .footer-title
            p Массажный салон JIVA
            p Приходите с друзьями и отдохните у нас.
            p Или выбирайте выездную услугу и к Вам приедем мы.
            .social
                a(href="http://www.instagram.com")
                    i.fa.fa-facebook
                a(href="http://www.instagram.com")
                    i.fa.fa-instagram
    .footer-copyright
        p © 2018 Copyright: - JIVA
