header#header(data-parallax="scroll" data-image-src="img/header.jpg")
	nav
		.blur
		.nav-wrap.container
			.nav-menu
				.nav-link
					a(href="#header") Jiva
				.nav-link
					a(href="#types") Виды Массажа
				.nav-link
					a(href="#specialists") Массажисты
				.nav-link
					a(href="#price") Цены
				.nav-link
					a(href="#contact") Контакты
			.contact
				p 0664151035 /
				p c 10.00-22.00
	.wrap-title
		h1 Массажный салон - Jiva
		h4 Приходите испытать секреты релаксации.