<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Массажный салон - Jiva
		link(rel="icon" href="img/favicon.ico")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css")
		link(rel="stylesheet", href="font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.wrap
			include header.pug
			include question.pug
			include dream.pug
			include types.pug
			include secret.pug
			include specialists.pug
			include price.pug
			include contact.pug
			include footer.pug
			script(src="js//jquery-3.3.1.min.js")
			script(src="js/popper.min.js")
			script(src="js/bootstrap.min.js")
			script(src="js/parallax.min.js")
			script(src="js/main.js")

