section#price
    .price-wrap.container
        h2 Цены
        .price-container.row.justify-content-around
            .women.col-5
                p.bolder Массаж для женщин
                p.bolder Все виды массажа
                h3 30 мин. / 1 час
                p.bolder 290 / 450 грн.
                hr
                p Массаж груди
                hr
                p Массаж ягодиц
                hr
                p Массаж живота
                hr
                p Массаж бедер
                hr
                p Массаж тела
                hr
                p Массаж лица
            .man.col-5
                p.bolder Массаж для мужчин
                p.bolder Все виды массажа
                h3 30 мин. / 1 час
                p.bolder 290 / 450 грн.
        h3 В нашем салоне вы можете заказать любой из доступных видов массажа на выезд: к себе в офис, домой или гостинницу.
