section#question
	h2 ПОЧЕМУ ЭТО ТАК ЗДОРОВО?
	.question.container
		.question-img
			img(src="img/lespa.jpg", alt="")
		.question-title
			h4 НАШЕ ОБЯЗАТЕЛЬСТВО
			p Вдохните мир, выдохните стресс. Расслабление может принести облегчение многим из того, что вас беспокоит. В нашем стрессовом и часто отрицательном мире ваше решение сделать приостановку приоритета поможет вам ориентироваться, справляться и минимизировать стресс.