section#secret(data-parallax="scroll" data-image-src="img/slice3.jpg")
    .container
        .secret-wrap
            h2 Бесконечность красоты и индульгенции.
            p Приходите испытать секреты отдыха.