section#specialists
    .wrap-specialists.container
        h2 МАССАЖИСТЫ
        p Все наши специалисты.
        .specialists-container.row
            .specialists-block.col-4
                .specialists-img
                    img(src="img/photo1.jpg")
                p Александра
            .specialists-block.col-4
                .specialists-img
                    img(src="img/photo2.jpg")
                p Алена
            .specialists-block.col-4
                .specialists-img
                    img(src="img/photo3.jpg")
                p Лена
        .specialists-container.row
            .specialists-block.col-4
                .specialists-img
                    img(src="img/photo4.jpg")
                p Ирина
            .specialists-block.col-4
                .specialists-img
                    img(src="img/photo5.jpg")
                p Марина
            .specialists-block.col-4
                .specialists-img
                    img(src="img/photo6.jpg")
                p Сергей
        .specialists-container.row
            .specialists-block.col-4
                .specialists-img
                    img(src="img/photo7.jpg")
                p Адександра
            .specialists-block.col-4
                .specialists-img
                    img(src="img/photo8.jpg")
                p Анастасия
            .specialists-block.col-4
                .specialists-img
                    img(src="img/photo9.jpg")
                p Оля

